[submodule "band/libraries/RadioHead"]
	path = band/lib/RadioHead
	url = https://github.com/MrFlynn/RadioHead.git
[submodule "band/libraries/Adafruit_NeoPixel"]
	path = band/lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
